<settings>
    <mirrors>
    <mirror>
      <!--This sends everything else to /public -->
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://nexus-service.nexus.svc.cluster.local:8081/repository/mymavengroup/</url>
    </mirror>
  </mirrors>
  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
  <profiles>
    <profile>
      <id>nexus</id>
      <repositories>
        <repository>
          <id>myHostRep</id>
          <url>http://nexus-service.nexus.svc.cluster.local:8081/repository/myHostRep/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <servers>
    <server>
      <id>nexus</id>
      <username>admin</username>
      <password>admin</password>
    </server>
  </servers>
</settings>

