<settings>
    <activeProfiles>
      <activeProfile>nexus</activeProfile>
    </activeProfiles>
    <profiles>
      <profile>
<distributionManagement>
<snapshotRepository>
<id>nexus</id>
<url>http://nexus-service.devops-tools.svc.cluster.local:8081/repository/maven-host</url>
</snapshotRepository>
<repository>
<id>ossrh</id>
<url>http://nexus-service.devops-tools.svc.cluster.local:8081/repository/maven-host
</url>
</repository>
</distributionManagement>  
      </profile>
    </profiles>

    <servers>
        <server>
          <id>nexus</id>
          <username>admin</username>
          <password>admin</password>
        </server>
      </servers>
    </settings>

