<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Example of how to create ad-hoc jobs</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <org.biouno.unochoice.ChoiceParameter plugin="uno-choice@2.2.1">
          <name>artifact</name>
          <description></description>
          <randomName>choice-parameter-7274732595350</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1.68">
              <script>import groovy.io.FileType

def list = []
def dir = new File(&quot;/var/jenkins_home/artifacts&quot;)

dir.eachFile (FileType.FILES) { file -&gt;
  list &lt;&lt; file.name
}
return list.each {}</script>
              <sandbox>false</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1.68">
              <script></script>
              <sandbox>false</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>simple_adhoc</projectName>
          <projectFullName>simple_adhoc</projectFullName>
          <choiceType>PT_SINGLE_SELECT</choiceType>
          <filterable>false</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.ChoiceParameter>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo $artifact
mkdir $BUILD_NUMBER
tar xzf $JENKINS_HOME/artifacts/$artifact -C $BUILD_NUMBER</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>