<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <mirrors>
    <mirror> <!--Send all requests to the public group -->
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://nexus-service.nexus-ns.svc.cluster.local/repository/central</url>
    </mirror>
  </mirrors>

  <servers>
      <server>
        <id>nexus</id>
        <username>admin</username>
        <password>admin123</password>
      </server>
    </servers>

</settings>
