<settings>
    <mirrors>
    <mirror> <!--Send all requests to the public group -->
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://nexus-service.nexus-ns.svc.cluster.local/repository/central</url>
    </mirror>
  </mirrors>

  <servers>
      <server>
        <id>nexus</id>
        <username>admin</username>
        <password>admin123</password>
      </server>
    </servers>

  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>

  <profiles>
    <profile>
      <id>nexus</id>
      <!--Override the repository (and pluginRepository) "central" from the Maven Super POM
          to activate snapshots for both! -->
      <repositories>
        <repository>
          <id>central</id>
          <url>http://nexus-service.nexus-ns.svc.cluster.local/repository/maven-snapshots/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <pluginGroups>
    <pluginGroup>org.sonatype.plugins</pluginGroup>
  </pluginGroups>
</settings>
